<?xml version="1.0"?>
<!--
/*
 * @package    SussexDev_Cloudflare
 * @copyright  Copyright (c) 2018 Scott Parsons
 * @license    https://github.com/ScottParsons/module-cloudflare/blob/master/LICENSE.md
 * @version    1.0.0
 */
 -->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="adminhtml_cache_flush_all">
        <observer name="cloudflare_purge_cloudflare_cache" instance="SussexDev\Cloudflare\Observer\PurgeCloudflareCache" />
    </event>
</config>
